#skip a
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

#skip a:active,
#skip a:focus
{
    position: static !important;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
html.js #module-filter-submit.fixed
{
    position: relative;
}

#module-filter-wrapper
{
    ul.inline,
    ul.links.inline
    {
        font-size: rem-calc(12);

        display: block;

        margin: 0;
        padding: 0;
    }
}

a.tabledrag-handle .handle
{
    width: rem-calc(29);
    height: rem-calc(29);
}

#admin-menu,
#admin-menu .dropdown
{
    font-size: rem-calc(12);
}

#admin-menu
{
    font-family:  sans-serif;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}


html.js fieldset.collapsed { height: auto;
    border-top: 1px solid rgba(10, 10, 10, 0.25);
    legend{
    margin-bottom: 1rem;
    padding-right: .5rem;
}
}

html.js fieldset.collapsible legend {
    margin-bottom: 0;
    padding-right: .5rem;
}


a.fieldset-title
{
    color: white;
}


